:root {
  --mm-masonry-col-width: 280;
  --mm-masonry-gap: 20;
}

.mm-masonry {
  /* Values with PX*/
  --column-px: calc(var(--mm-masonry-col-width) * 1px);
  --gap-px: calc(var(--mm-masonry-gap) * 1px);
}

.mm-masonry__item {
  margin-bottom: var(--gap-px);
}

.mm-masonry__img {
  width: 100%;
  height: auto;
}

@media (min-width: 520px) {
  .mm-masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--column-px), 1fr));
    grid-auto-rows: 1px;
    column-gap: var(--gap-px);
  }

  .mm-masonry__item {
    /* Calculate the image height according to the column width and the iamge aspect ratio.
      [Image-Height] * [Column-Width] / [Image-Width] = [X] */
    --img-proportional-height: calc(var(--h) * var(--mm-masonry-col-width) / (var(--w)));

    grid-row-end: span var(--img-proportional-height, 240);
    overflow: hidden;
  }

  .mm-masonry__img {
    height: 100%;
    object-fit: cover;
  }
}
