@import url("./normalize.css");
@import url("./masonry.css");

body {
  padding: 0 24px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  margin: 5rem 2rem 4rem;
}

.masonry__item {
  box-shadow: 0 0 4px 0 #e0e0e0;
}
