@import url("./normalize.css");
@import url("./masonry.css");

body {
  padding: 24px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  margin: 5rem 2rem 4rem;
}
