html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0 24px;
  color: #aaa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  margin: 5rem 2rem 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  text-align: center;
  margin: 0 auto 2rem;
  padding: 24px;
}
